---
import Base from "@/layouts/Base.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

// ensure tailwind emits span (TODO use config for this)
/*

row-span-1
row-span-2
row-span-3
row-span-4
col-span-1
col-span-2
col-span-3
col-span-4
col-span-5

*/

const galleryPictures = await getCollection("showcase");
---

<Base>
  <section id="showcase_grid" class="lg:mb-10 lg:px-16 px-4 grid gap-5 grid-cols-5 gris-flow-rows">
      {galleryPictures.sort((a, b) => a.data.order - b.data.order).map(({ data }) =>
          <Image
            class={`animate-fade-in row-span-${data.rowspan} col-span-${data.colspan} showcase cursor-pointer outline-blue-500 outline-2 hover:outline`}
            data-width={data.width}
            data-height={data.height}
            src={data.href}
            alt={data.title}
            role="button"
            aria-roledescription="An image that can be clicked to focus in on and bring up and over the other images, press escape to dismiss"
          />
      )}
  </section>
  <div id="placeholderContainer" class="fixed top-0 left-0 hidden w-screen h-screen">
    <img id="placeholder" class="aspect-auto mx-auto mt-10" />
  </div>
</Base>

<script>

declare const showcase_grid: HTMLElement;
declare const placeholderContainer: HTMLDivElement;
declare const placeholder: HTMLImageElement;

function isImgTag(targetEl: any): targetEl is HTMLImageElement {
  return !!targetEl && typeof targetEl.tagName === "string" && targetEl.tagName === "IMG";
}

let open = false;

showcase_grid.addEventListener('click', (evt) => {
  if (open || !isImgTag(evt.target)) {
    return;
  }

  open = true;
  showcase_grid.classList.add('blur-lg')
  placeholder.src = evt.target.src;
  placeholder.style.width = "35vw";

  placeholderContainer.classList.remove("hidden");
});

document.addEventListener('keydown', (evt) => {
  if (!open) {
    return;
  }

  if (evt.key === "Escape") {
    open = false;
    showcase_grid.classList.remove('blur-lg');
    placeholderContainer.classList.add("hidden");
  }
})

</script>
